.forgotPassword form div {
  display: flex;
}
.forgotPassword input {
  margin-bottom: 20px;
  margin-right: 10px;
}
.forgotPassword form {
  padding: 30px;
}

.center {
  text-align: center;
}

.forgotPassword-container .container {
  max-width: 35%;
}

@media screen and (max-width: 768px) {
  .forgotPassword h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .forgotPassword form div {
    flex-direction: column;
  }
  .forgotPassword input {
    width: 100%;
  }
}
