.marketplace .text {
  padding: 30px;
}
.marketplace .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.marketplace .category i {
  font-size: 20px;
  color: #bec7d8;
}
.marketplace p {
  color: #72809d;
}
.marketplace .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}

.view-more-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Adjust as needed */
}

.view-more-btn {
  padding: 10px 100px;
  font-size: 22px;
  color: #fff;
  background-color: #25b579;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #1e9a5a; /* Darker shade on hover */
}
